@model CDP.Models.Plantio

@{
    ViewData["Title"] = "Novo Plantio";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder">
                <i class="m-1"></i>@ViewData["Title"]
            </h2>
        </div>
    </div>

    <form asp-action="Create">

        <div class="row mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <label asp-for="DataPlantio" class="control-label"></label>
                <input asp-for="DataPlantio" class="form-control" />
                <span asp-validation-for="DataPlantio" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Cultura" class="control-label"></label>
                <select asp-for="Cultura" class="form-control" asp-items="Html.GetEnumSelectList<Cultura>()"></select>
                <span asp-validation-for="Cultura" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Safra" class="control-label"></label>
                <input asp-for="Safra" class="form-control" />
                <span asp-validation-for="Safra" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <label asp-for="Chuva" class="control-label"></label>
                <input asp-for="Chuva" class="form-control" />
                <span asp-validation-for="Chuva" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="TipoPlantio" class="control-label"></label>
                <select asp-for="TipoPlantio" class="form-control" asp-items="Html.GetEnumSelectList<TipoPlantio>()"></select>
                <span asp-validation-for="TipoPlantio" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="TempoPlantio" class="control-label"></label>
                <input asp-for="TempoPlantio" class="form-control" />
                <span asp-validation-for="TempoPlantio" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <label asp-for="UmidadePlantio" class="control-label"></label>
                <input asp-for="UmidadePlantio" class="form-control" />
                <span asp-validation-for="UmidadePlantio" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="SementeId" class="control-label"></label>
                <select asp-for="SementeId" class="form-control" asp-items="ViewBag.SementeId"></select>
            </div>
            <div class="col-md-2">
                <label asp-for="QtdSementes" class="control-label"></label>
                <input asp-for="QtdSementes" class="form-control" />
                <span asp-validation-for="QtdSementes" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="DistSementes" class="control-label"></label>
                <input asp-for="DistSementes" class="form-control" />
                <span asp-validation-for="DistSementes" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Adubacao" class="control-label"></label>
                <input asp-for="Adubacao" class="form-control" />
                <span asp-validation-for="Adubacao" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="d-flex align-content-start flex-wrap justify-content-between" style="list-style-type:none;">
                <div class="col-md-12"><label asp-for="PlantioTalhoes" class="control-label"></label></div>
                @foreach (var talhoes in ViewBag.Talhoes)
                {
                    <li class="me-3"><input type="checkbox" class="form-check-input" name="TalhoesId" value="@talhoes.Id" />
                        <label class="form-check-label" for="exampleCheck1">@talhoes.Nome</label></li>
                }
            </div>
        </div>
            <div class="flex-column mt-4">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
