@model PlantioFormViewModel

@{
    ViewData["Title"] = "Editar";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder">
                <i class="bi bi-person-plus m-1"></i>@ViewData["Title"]
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Plantio.Id" />
                <div class="form-group">
                    <label asp-for="Plantio.DataPlantio" class="control-label"></label>
                    <input asp-for="Plantio.DataPlantio" class="form-control" />
                    <span asp-validation-for="Plantio.DataPlantio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.Chuva" class="control-label"></label>
                    <input asp-for="Plantio.Chuva" class="form-control" />
                    <span asp-validation-for="Plantio.Chuva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.TipoPlantio" class="control-label"></label>
                    <input asp-for="Plantio.TipoPlantio" class="form-control" />
                    <span asp-validation-for="Plantio.TipoPlantio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.TempoPlantio" class="control-label"></label>
                    <input asp-for="Plantio.TempoPlantio" class="form-control" />
                    <span asp-validation-for="Plantio.TempoPlantio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.UmidadePlantio" class="control-label"></label>
                    <input asp-for="Plantio.UmidadePlantio" class="form-control" />
                    <span asp-validation-for="Plantio.UmidadePlantio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.SementeId" class="control-label"></label>
                    <input asp-for="Plantio.SementeId" class="form-control" />
                    <span asp-validation-for="Plantio.SementeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.QtdSementes" class="control-label"></label>
                    <input asp-for="Plantio.QtdSementes" class="form-control" />
                    <span asp-validation-for="Plantio.QtdSementes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.DistSementes" class="control-label"></label>
                    <input asp-for="Plantio.DistSementes" class="form-control" />
                    <span asp-validation-for="Plantio.DistSementes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plantio.Adubacao" class="control-label"></label>
                    <input asp-for="Plantio.Adubacao" class="form-control" />
                    <span asp-validation-for="Plantio.Adubacao" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-primary">Voltar</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
