@model CDP.Models.Plantio

@{
    ViewData["Title"] = "Editar";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder">
                <i class="bi bi-person-plus m-1"></i>@ViewData["Title"]
            </h2>
        </div>
    </div>

    <form asp-action="Edit">
        <div class="row mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataPlantio" class="control-label"></label>
                <input asp-for="DataPlantio" class="form-control" />
                <span asp-validation-for="DataPlantio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cultura" class="control-label"></label>
                <select asp-for="Cultura" class="form-control"></select>
                <span asp-validation-for="Cultura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Safra" class="control-label"></label>
                <input asp-for="Safra" class="form-control" />
                <span asp-validation-for="Safra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chuva" class="control-label"></label>
                <input asp-for="Chuva" class="form-control" />
                <span asp-validation-for="Chuva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPlantio" class="control-label"></label>
                <select asp-for="TipoPlantio" class="form-control"></select>
                <span asp-validation-for="TipoPlantio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoPlantio" class="control-label"></label>
                <input asp-for="TempoPlantio" class="form-control" />
                <span asp-validation-for="TempoPlantio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UmidadePlantio" class="control-label"></label>
                <input asp-for="UmidadePlantio" class="form-control" />
                <span asp-validation-for="UmidadePlantio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SementeId" class="control-label"></label>
                <select asp-for="SementeId" class="form-control" asp-items="ViewBag.SementeId"></select>
                <span asp-validation-for="SementeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdSementes" class="control-label"></label>
                <input asp-for="QtdSementes" class="form-control" />
                <span asp-validation-for="QtdSementes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistSementes" class="control-label"></label>
                <input asp-for="DistSementes" class="form-control" />
                <span asp-validation-for="DistSementes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adubacao" class="control-label"></label>
                <input asp-for="Adubacao" class="form-control" />
                <span asp-validation-for="Adubacao" class="text-danger"></span>
            </div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
