@model FuncionarioFormViewModel

@{
    ViewData["Title"] = "Novo Funcionário";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder">
                <i class="bi bi-person-plus m-1"></i>@ViewData["Title"]
            </h2>
        </div>
    </div>

    <form asp-action="Create">
        <div class="row mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label asp-for="Funcionario.Nome" class="control-label"></label>
                <input asp-for="Funcionario.Nome" class="form-control" />
                <span asp-validation-for="Funcionario.Nome" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Funcionario.Cpf" class="control-label"></label>
                <input asp-for="Funcionario.Cpf" class="form-control" />
                <span asp-validation-for="Funcionario.Cpf" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <label asp-for="Funcionario.IdCargo" class="control-label"></label>
                <select asp-for="Funcionario.IdCargo" asp-items="@(new SelectList(Model.Cargos,"Id","Descricao"))" class="form-select"></select>
                <span asp-validation-for="Funcionario.IdCargo" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Funcionario.CargaHoraria" class="control-label"></label>
                <input asp-for="Funcionario.CargaHoraria" class="form-control" />
                <span asp-validation-for="Funcionario.CargaHoraria" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Funcionario.DataNascimento" class="control-label"></label>
                <input asp-for="Funcionario.DataNascimento" class="form-control" />
                <span asp-validation-for="Funcionario.DataNascimento" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <label asp-for="Funcionario.Cep" class="control-label"></label>
                <input asp-for="Funcionario.Cep" id="cep" class="form-control" />
                <span asp-validation-for="Funcionario.Cep" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Funcionario.Logradouro" class="control-label"></label>
                <input asp-for="Funcionario.Logradouro" class="form-control" />
                <span asp-validation-for="Funcionario.Logradouro" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Funcionario.Bairro" class="control-label"></label>
                <input asp-for="Funcionario.Bairro" class="form-control" />
                <span asp-validation-for="Funcionario.Bairro" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <label asp-for="Funcionario.Cidade" class="control-label"></label>
                <input asp-for="Funcionario.Cidade" class="form-control" />
                <span asp-validation-for="Funcionario.Cidade" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Funcionario.Estado" class="control-label"></label>
                <input asp-for="Funcionario.Estado" class="form-control" />
                <span asp-validation-for="Funcionario.Estado" class="text-danger"></span>
            </div>
        </div>

        <div class="flex-column mt-4">
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
