@model CDP.Models.Semente

@{
    ViewData["Title"] = "Editar";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder">
                <i class="bi bi-person-plus m-1"></i>@ViewData["Title"]
            </h2>
        </div>
    </div>

    <form asp-action="Edit">
        <div class="row mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cultura" class="control-label"></label>
                <select asp-for="Cultura" class="form-control" asp-items="Html.GetEnumSelectList<Cultura>()"></select>
                <span asp-validation-for="Cultura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HabitoCrescimento" class="control-label"></label>
                <input asp-for="HabitoCrescimento" class="form-control" />
                <span asp-validation-for="HabitoCrescimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floracao" class="control-label"></label>
                <input asp-for="Floracao" class="form-control" />
                <span asp-validation-for="Floracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resistencia" class="control-label"></label>
                <input asp-for="Resistencia" class="form-control" />
                <span asp-validation-for="Resistencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoMaturacao" class="control-label"></label>
                <input asp-for="GrupoMaturacao" class="form-control" />
                <span asp-validation-for="GrupoMaturacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumoSementes" class="control-label"></label>
                <input asp-for="ConsumoSementes" class="form-control" />
                <span asp-validation-for="ConsumoSementes" class="text-danger"></span>
            </div>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
